<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="blog_comment_save_after">
        <observer name="comment_notify_email" instance="OpenTechiz\Blog\Observer\EmailNotify"/>
    </event>
</config>
